@use "@/shared/styles/dimensions.scss" as dimensions;
@use "@/shared/styles/colors.scss" as colors;

.forgotPasswordForm {
    & [class~="ant-form-item"]{
        margin-bottom: dimensions.$padding * 0.5;
    }
    
    & &__submitButton {
        margin: dimensions.$padding * 0.2 0;
    }

    & &__backToLogin {
        a {
            &:hover {
                color: colors.$white !important;
            }
        }
    }
}
