@use "@/shared/styles/dimensions.scss" as dimensions;

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: dimensions.$padding * 2.5;

    &__lottie{
        padding: dimensions.$padding;
        width: 36rem;
        height: 36rem;
    }
}
