@use 'colors.scss' as colors;
@use 'dimensions.scss' as dimensions;

@layer antd, custom;

@layer custom {
    body {
        margin: 0;
        padding: 0;
        background: colors.$background;
    }

    [data-content-padding] {
        padding: calc(#{dimensions.$content-padding} / 2) 0;
    }
}
