@use "@/shared/styles/dimensions.scss" as dimensions;
@use "@/shared/styles/mixins.scss" as mixins;

.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: dimensions.$padding;

    [data-text='title'] {
        font-size: 35pt;
    }

    a {
        text-decoration: none;
    }

    // @include mixins.mediaXL {
    //     &__lottie{
    //         padding: dimensions.$padding;
    //         width: 512px;
    //         height: 512px;
    //     }
    // }
}
